*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

button,
input,
select,
textarea {
  font: inherit;
}

body {
  font-family: "DM Sans", sans-serif;
  color: #0d0d0d;
  font-size: 1rem;
  line-height: 1.6;
  margin-top: 38px;
}

/* UTILITIES */
.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
}

.header {
  padding-block: 24px;
}

.logo {
  width: 200px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}

.navbar {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

/* NAVBAR CONTAINER */
.nav-menu {
  display: flex;
  width: 646px;
  gap: 50px;
  list-style: none;
}

.nav-menu a {
  text-decoration: none;
  color: inherit;
  position: relative;
}

.nav-menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.nav-menu a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.nav-actions {
  width: 295px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.nav-login {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  padding: 8px 20px;
}

.nav-book {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  border: 2px solid #0d0d0d;
  padding: 8px 20px;
}

.hero {
  position: relative;
  /* min-height: 100vh; */
}

.hero-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.hero-content {
  max-width: 460px;
  z-index: 2;
}

.hero-title {
  font-size: 4.25rem;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.hero-subtitle {
  margin-top: 16px;
  font-size: 1.125rem;
}

.btn-cta-book {
  display: inline-block;
  margin-top: 32px;
  background-color: #203271;
  padding: 20px 40px;
  color: #fff;
  font-weight: 500;
  font-size: 1.125rem;
  cursor: pointer;
  text-decoration: none;
}

/* IMAGE HERO */
.hero-image {
  width: 540px;
  height: 795px;
  /* background-color: turquoise; */
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.review-card {
  position: absolute;
  top: 4%;
  /* left: -40px; */
  right: 410px;
  background-color: #fff;
  padding: 20px;
  max-width: 280px;
  border-radius: 10px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1);
  z-index: 3;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.review-name {
  font-size: 0.75rem;
}

.review-text {
  font-size: 0.75rem;
  margin-top: 12px;
}

.hero-shape {
  position: absolute;
  top: -110px;
  right: 20px;
  width: 45%;
  height: 910px;
  background-color: #9beae0;
  transform: skewX(-4deg);
  z-index: -1;
  pointer-events: none;
}

.user-review-card {
  width: 280px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  border-radius: 10px;
  padding: 20px;
  position: absolute;
  right: 410px;
  top: 100px;
  background-color: #fff;
}

.review-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.review-title {
  font-size: 0.75rem;
}

.review-body {
  font-size: 0.75rem;
  line-height: 1.6;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Benefits */
.benefits {
  background-color: #203271;
  color: #fff;
}

.benefits-inner {
  display: flex;
  gap: 32px;
  padding: 48px;
}

.benefit {
  display: flex;
  gap: 20px;
}

.benefit p {
  color: rgba(255, 255, 255, 0.8);
}
